.about-img {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  filter: brightness(1.4);
}

.about-content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about-subtitle {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 15px;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}

.about-content ul strong {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .about-img {
    margin-bottom: 30px;
  }
}